body > .container {
    padding-top: 60px;
}

.navbar-brand {
    font-family: 'Courier New', Courier, monospace;
}

.header {
    color: #333;
}

.content-pane {
    flex-wrap: nowrap!important;
}

.content-pane li {
    list-style: none;
}

.servers {
    padding-right: 0 !important;
    margin-top: 56px;
    background-color: #223623;
    overflow: hidden;
}

.servers ul {
    padding-left: 0;
    padding-right: 0;
}

.servers li {
    padding-left: 2em;
}

.servers li.selected {
    background-color: rgb(68, 91, 22);
}

.drop-zone {
    border-radius:10px;
    border: 3px dashed #e0dddd;
    padding: 20px 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.drop-zone.highlight {
    border-color: rgb(28, 108, 220);
    color: darkgray;
}

.drop-zone.highlight a {
    color: inherit;
}

.drop-zone.alert-box {
    animation: blink 300ms;
    animation-iteration-count: 3;
}

@keyframes blink {
    50% { border-color:red ; }
    100% { border-color: #e0dddd; }
}

.dragging-in-progress {
    pointer-events: none;
}

.drop-zone .upload-icon {
    content: "";
    margin-bottom: 1.2em;
    background-image: url("/assets/grassblock.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    opacity: 0.18;
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
    height: 140px;
}

.messages {
    overflow:auto;
    margin-top: 56px;
    margin-bottom: 60px;
    background-color: #ffffff;
    overflow:auto;
}

.message-list {
    margin: 0;
    padding: 0;
}

.message-list li:nth-child(odd) {
    background: #f2f2f2;
}

.message-box {
    position: fixed!important;
    bottom: 0;
}

.form-control:focus{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;}
