<html>

<head>
    <link rel="stylesheet" href="/assets/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="preload" href="/assets/grassblock.png" as="image">
</head>

<body>
    <header>
        <nav class="navbar navbar-dark fixed-top bg-dark">
            <div class="navbar-brand">/pickaxx/</div>
            <div class="justify-content-end">
                {{ template "button_actions" . }}
            </div>
        </nav>
    </header>
    <!-- new server modal -->
    {{ template "new_server_modal" .}}
    <main id="main-content">
        <div class="row h-100 content-pane">
            {{ template "sidebar" . }}
            <div class="col-10 messages">
                <div class="drop-zone">
                    <div class="upload-icon"></div>
                    <p>To start a new server, drag & drop a <a
                            href="https://www.minecraft.net/en-us/download/server">server.jar</a>.</p>
                </div>
                <ul class="message-list">
                    {{ range $line := .logLines }}
                    <li>{{ $line }}</li>
                    {{ end }}
                </ul>
                <form id="input-form" action="/send" method="post" autocomplete="off">
                    <div class="col-10 message-box py-2 bg-light">
                        <div class="input-group">
                            <input id="input-box" type="text" class="form-control" placeholder="" autofocus>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit">Send</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <script src="/assets/jquery-3.5.1.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script type="module" src="/assets/index.js"></script>
</body>

</html>
